#team-rubric-table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #424242;
  margin: 0 0 30px 0;
}

#team-rubric-table td, #team-rubric-table th {
	  border: 1px solid #424242;
	  padding: 10px 5px;
}

#team-members {
	margin: 0 0 20px 0;
	display: block;
}

.team-rubric-question {
	font-size: 1.2em;
	font-weight: 600;
	margin-top: 20px;
}

.self {
	background-color: lime;
}

#identity {
	margin: 10px 0 30px 0;
}

/*hide gravity form stuff*/

#field_1_1, #field_1_2 {
	background: red;
	display: none;
}

#gform_submit_button_1 {
	position: absolute;
	bottom: 0;
	width: 100%;
	display: block;
}